<section class="bg-primary">
  <div class="section-1">
    <div class="content">
      <div class="_h1 content-width">
        Discover the magic of our surprise box
      </div>
      <div class="description content-width">
        Unleash your child's curiosity with our educational subscription box filled with fun and learning.
      </div>
      <button class="btn-subscribe">Subscribe Now</button>
    </div>
    <img src="../../assets/section_1.png" class="img-fluid" alt="Section Image ...">
  </div>
</section>

<section class="bg-secondary bg-section">
  <div class="section-2">

    <div class="content">
      <div class="_h5">Discover</div>
      <div class="_h2 content-width">
        How It Works: Subscribe and Receive Your Surprise Box
      </div>
      <div class="description content-width">
        Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box
        filled with educational materials tailored to your child's age and interests.
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="content">
          <img class="icon" src="../../assets/subscribe.png" alt="">
          <div>
            <div class="_h4">
              Step 1:
            </div>
            <div class="_h3">
              Subscribe
            </div>
          </div>
          <div class="detail">
            Select a subscription plan that suits your child's learning needs and preferences.
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="content">
          <img class="icon" src="../../assets/customize.png" alt="">
          <div>
            <div class="_h4">
              Step 2:
            </div>
            <div class="_h3">
              Personalise Your Box
            </div>
          </div>
          <div class="detail">
            Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box
            accordingly.
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="content">
          <img class="icon" src="../../assets/surprise.png" alt="">
          <div>
            <div class="_h4">
              Step 3:
            </div>
            <div class="_h3">
              Receive Your Surprise Box
            </div>
          </div>
          <div class="detail">
            Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box filled with
            engaging
            learning materials.
          </div>
        </div>
      </div>
    </div>
    <button class="btn-subscribe">Subscribe Now</button>


  </div>
</section>