@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$primary: #AB95F9;
$secondary: #FFF9E6;
$font-family-base: 'Nunito', sans-serif;

$theme-colors: map-merge($theme-colors,
        ("primary": $primary,
            "secondary" : $secondary ));

@import "node_modules/bootstrap/scss/bootstrap.scss";

.btn-subscribe {
    @extend .btn;
    cursor: pointer !important;
    padding: 15px 27px;
    border-radius: 24px;
    border-color: #896AF9;
    background: var(--White, #FFF);
    box-shadow: 4px 4px 0px -1px #896AF9;
    color: #896AF9;
    text-align: center;
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 900;
    line-height: 38.4px;
}

.btn-subscribe:hover {
    border-color: #896AF9;
    background: var(--White, #e0e0e0);
    box-shadow: 4px 4px 0px -1px #896AF9;
    color: #896AF9;

}