<footer>
  <div class="footer">
    <div class="footer-container">
      <div class="footer-divider"></div>
      <div class="footer-detail">
        <div class="footer-links">
          <a class="footer-link" href="#">
            Privacy Policy</a>
          <a class="footer-link" href="#">
            Terms of Service</a>
          <a class="footer-link" href="#">
            Cookies Settings</a>
        </div>
        <div class="footer-ext">
          © 2023 MyEdu. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>